body {
  background: rgb(190,214,27);
  background: radial-gradient(rgba(190,214,27,1) 15%, rgba(0,94,0,1) 100%); 
  background-size: cover;
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  place-content: center;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #181818; 
  opacity: 90%;
  padding: 7px; 
  box-shadow: 0px 0px 100px 50px rgb(0, 60, 0);
  display: flex;
  justify-content: space-between; /* To push the logo to the left */
  align-items: center; 
  z-index: 100; 
}


.logo-container {
  max-width: 13rem;
  margin-left: 15px;
  text-align: center;
}


.logo {
  max-width: 13rem;
  display: block; /* Remove any unwanted spacing */
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .logo-container {
      max-width: 300px;
    }
    .logo {
      max-width: 300px;
    }
  }

.copyright {
  color: rgb(0, 160, 0);
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 4rex;
}

A:link {text-decoration: none; color: rgb(0, 160, 0);}
A:visited {text-decoration: none; color: rgb(0, 160, 0);}


@media (max-width: 768px) {
  /* Adjust styles for smaller screens, if necessary */
  .logo-container {
      margin-left: 10px;
  }

  .logo {
      max-width: 80px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 90vh;
  min-height: 400px;
}

h2 {
  font-size: 2rem; 
  font-weight: bold;
  
  margin-bottom: 10px;
}

.game-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .definition {
    font-size: 2vw;
  }
}
.definition {
  font-size: 1.6rem; 
  font-weight: bold;
  margin-bottom: 20px;
  width: 50vw;
}



.score {
  font-size: 10vw;
  margin-bottom: 20px;
  align-items: start;
  justify-content: start;
}

input[type="text"] {
  width: 20rem;
  margin: 20px;
  padding: 10px;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* button */
.btn-primary {
  background-color: #ffffff;
  color: #181818;
  width: 8rem;
  margin: 20px;
  padding: 10px 25px;
  font-size: 1.4rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.1s;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.btn-primary:hover {
  background-color: #ceffbb;
}

.btn-primary:disabled {
  background-color: #ccc; 
  color: #999; 
  cursor: not-allowed; 
}
.score {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}
.score-negative {
  color: #bf0000;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}
.result {
  font-size: 1.6rem;
  font-weight: bold;
  margin-top: 10px;
}

.timer-container {
  position: relative; /* Ensure the container is a positioned parent */
  width: 200px; /* Adjust the width as needed */
  height: 200px; /* Adjust the height as needed */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.timer, .button-container  {
  position: absolute;
  bottom: 50%; /* Adjust the bottom spacing */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, 50%);
  
}